<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:html_title) + "-" if content_for?(:html_title)%>Top 100 movies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
  </head>

  <body>
  <section>
    <div class="container">
      <h2 class="title is-2">Top Movies from IMDB</h2>
    </div>
    <%= yield %>
    </section>
   <% if controller_name == 'home'%>
   <p>There is no place like home</p>
    <% else%>
    <%= render partial:'shared/footer'%>
     <% end %>
  </body>
</html>
